<link rel="stylesheet" type="text/css" href="./about.component.css" media="screen" />
<br>
<div class="card" style= "width: 27cm; height: 5cm; align-items: center; margin-left: 3cm;,margin-right: 3cm;">
    <div class="card-body" >
      <h5 class="letradrande"  >Sobre Comic App</h5>
      <h6 class="card-subtitle mb-2 text-muted"> 
        <br>  
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam quo, nesciunt illum provident sequi nostrum sit quia animi excepturi accusantium tempore voluptatibus, id exercitationem laudantium iusto. Iusto maiores facere deserunt?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid totam tenetur nemo sit non labore dicta animi! Ab ullam accusamus asperiores molestias molestiae minima fuga quibusdam enim! Ipsa, esse sit? </h6>
    </div>
  </div>